header, footer
{
	background-color: #242424;
}
footer
{
	margin-top: 10px;
}
body
{
	font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
	//font-family: Verdana, Arial, sans-serif;
	//font-family: "Knowledge Light", Verdana, Arial, sans-serif;
	color: #488541;
	background-color: #151515;
	width: 80%;
	max-width: 1000px;
	margin: auto;
	margin-top: 0px;
	padding: 15px;
}

p
{
	color: #488541;
}
a, a:visited{
	color: #cccccc;
}
input:-webkit-autofill {
    color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}  

#wrapper
{
	width: 960px;
	background-color: #151515;
	margin-left:auto;
	margin-right:auto;
	min-height: 400px;
}

#enigma_wrapper
{
	width: 960px;
	background-color: #151515;
	margin-left:auto;
	margin-right:auto;
	min-height: 220px;
}


.banner
{
	vertical-align: top;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #FF8000;
	height: 40px;
	width: 100%;
}
.banner_session
{
	display: inline-block;
	text-align: right;
	font-size: 0.8em;
	width: 80%;
	padding-right: 0px;
}

.banner_left
{
	display: inline-block;
	text-align: left;
	vertical-align: center;
	font-size: 0.8em;
	width: 39%;
}

.banner_right
{
	display: inline-block;
	text-align: right;
	font-size: 0.8em;
	width: 60%;
	padding-right: 0px;
}

.video_aside
{
	display: inline-block;
	float: left;
	float: left;
	width: 400px;
	hight: 300px;
	margin: 10px;
}

.article_aside
{
	display: inline-block;
	min-width: 400px;
	background: #151515;
}

.enigma_picture_aside
{
	float: left;
	width: 250px;
	margin: 10px;
}
.centered
{
	text-align: center;
}
.underline
{
	 text-decoration: underline;
}

.italic
{
	font-style: italic;
}
.inline{
	display: inline;
}
.stdButton
{
	display: inline-block;
	height: 35px;
	width: 100px;
	background: url('resources/buttonbckg.png') repeat-x;
	border-radius: 0px;
	border-color:	#cccccc;
	border-style: solid;
	border-width: 1px;
	font-size: 1em;
	text-align: center;
	text-vertical-align: center;
	padding: 2px 6px 2px 6px;
	margin: 5px;
	margin-left: 0px;
	color: #cccccc;
	background-color: #151515;
	text-decoration: none;
	font-family: Tahoma;
	
}
.bannerButton
{
	display: inline-block;
	height: 25px;
	width: 100px;
	background: url('resources/buttonbckg.png') repeat-x;
	border-radius: 0px;
	border-color:	#cccccc;
	border-style: solid;
	border-width: 1px;
	font-size: 1em;
	text-align: center;
	text-vertical-align: center;
	padding: 2px 6px 2px 6px;
	margin: 5px;
	margin-left: 0px;
	margin-bottom: 5px;
	color: #cccccc;
	background-color: #151515;
	text-decoration: none;
	font-family: Tahoma;
	
}
.navButton
{
	display: inline-block;
	height: 30px;
	width: 120px;
	//background: url('resources/buttonbckg.png') repeat-x;
	border-radius: 0px;
	border-color:	#cccccc;
	border-style: solid;
	border-width: 1px;
	font-size: 1.1em;
	text-align: center;
	vertical-align: bottom;
	padding: 4px 6px 4px 6px;
	margin-bottom: 10px;
	margin-right: 5px;
	color: #cccccc;
	background-color: #151515;
	text-decoration: none;
	font-family: Tahoma;
	
}

.enigmaButton
{
	display: inline-block;
	height: 35px;
	width: 99%;
	background: url('resources/buttonbckg.png') repeat-x;
	border-radius: 0px;
	border-color:	#cccccc;
	border-style: solid;
	border-width: 1px;
	font-size: 1.1em;
	text-align: left;
	vertical-align: bottom;
	padding: 4px 6px 4px 6px;
	margin-bottom: 10px;
	margin-right: 5px;
	color: #cccccc;
	background-color: #151515;
	text-decoration: none;
	font-family: Tahoma;
	
}

Button:hover
{
	background-color: #242424;
}
.RBPComment
{
	font-size: 0.8em;
	color: #cccccc;

}
.article_fullwidth
{
	width: 100%;
	
}

.wrong_answer
{
	color: red;
}

.correct_answer
{
	color: #33ff00;
}

.strong_correct_answer {
	color: #cccccc;
	text-decoration: bold;
	font-size: 1.1em;
}

.formtitle
{
	font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
}

.formtextinput
{
	font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
	width: 260px;
	height: 22px;
	padding: 4px 8px;
	background: white;
	//box-shadow: 0 0 0 0;
}
.bannertextinput
{
	font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
	width: 120px;
	height: 15px;
	padding: 2px 4px;
	background: white;
	//box-shadow: 0 0 0 0;
}
.formtextinputlabel
{
	font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
	width: 166px;
	height: 22px;
	padding-top: 8px;
	padding-bottom: 4px;
}

input
{
	background: white;
	border: none;
}

.intro
{
	font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
	font-size:	1.2em;
	text-decoration: bold;
	line-height: 130%;
	padding-top: 6px;
}

strong
{
	color: #cccccc;
	font-size: 1.5em;
	text-decoration: bold;
}

.enigma_not_logged
{
	background-color: #242424;
	margin-left: 20%;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 150%;
}

.stitched {
   padding: 20px;
   margin: 10px;
   background: #151515;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px solid #cccccc;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #242424, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   //text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
